@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200..700&family=Montserrat:wght@200..700&family=Oswald:wght@200..700&family=Open+Sans:wght@200..700&family=Poppins:wght@200..700&family=Satisfy&family=M+PLUS+Rounded+1c:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }